<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/aboutus.css">
</head>
<body>
    <div>
        <p>> <span>Our Name</span>: "<i>AnafaelBeats</i>"</p>
        <p>> <span>Game Description</span>: <i>AnafaelBeats challenges you to test your music knowledge with a series of engaging questions. Each game consists of up to 10 questions, where you will be asked to guess:</i></p>
        <p>> <span>The name of the artist</span>: <b>Recognize your favorite musicians from snippets of their songs or interesting facts about them</b>...</p>
        <p>> <span>The name of the song</span>: <b>Guess the song title from lyrics, melodies, or descriptive hints.</b>...</p>
        <p>> <span>The name of the album</span>: <b>Identify iconic albums based on their covers, featured songs, or history.</b>...</p>
        <p>> <span>The release year</span>: <b>Test your knowledge of music chronology by guessing the year a song or album was released.</b>...</p>
        <p>> <span>Join the Fun </span>: [<a href="{{url_for('game')}}">Start Game</a>...]</p>
    </div>
    
        
    <a class="avatar" href="{{url_for('welcome')}}" title="Go to dashboard 👋"><img src="../static/img/logo.jpg"/></a>
    
    <script src="../static/JS/aboutus.js"></script>
</body>
</html>
