<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome  - AnafaelBeats</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename="../static/CSS/dashboard.css") }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
</head>
<body>
  <div class="loader">
    <h1 id="tituloLoader"> Anafael Beats..</h1>
    <div class="b1"></div>
    <div class="b2"></div>
    <div class="b3"></div>
  </div> 
  <main>
    <nav class="main-menu">
      <div>
        <div class="user-info">
          <img
                  src={{ProfilePicture}}
                  alt="user" />
                <p>{{UserProfile}}</p>
        </div>
        <ul>
          <li class="nav-item active">
            <a href="{{ url_for('About') }}">
              <i class="fa fa-people-group nav-icon"></i>
              <span class="nav-text">About Us</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('trendingPage') }}">
              <i class="fa fa-arrow-trend-up nav-icon"></i>
              <span class="nav-text">Trending</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('AboutGame') }}">
              <i class="bi bi-controller nav-icon"></i>
              <span class="nav-text">Play</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('lyrics') }}">
              <i class="fa fa-music nav-icon"></i>
              <span class="nav-text">Lyrics</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('playlist') }}">
              <i class="fa fa-heart nav-icon"></i>
              <span class="nav-text">Playlist</span>
            </a>
          </li>
        </ul>
      </div>

      <ul>
        <li class="nav-item">
          <a href="{{ url_for('Profile') }}">
            <i class="fa fa-user nav-icon"></i>
            <span class="nav-text">Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('Settings') }}">
            <i class="fa fa-gear nav-icon"></i>
            <span class="nav-text">Update</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('index') }}">
            <i class="fa fa-right-from-bracket nav-icon"></i>
            <span class="nav-text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <section class="content">
      <div class="left-content">
        <form action="{{ url_for('update_search_value') }}" method="post">
          <div class="toolbar centred">
              <div class="search-bar glass centred">
                  <label for="search-bar">
                      <span class="search-icon centred material-icons">search</span>
                  </label>
                  <input type="text" id="search-bar" name="search_value" placeholder="" />
              </div>
          </div>
          <button type="submit" style="display: none;"></button> 
      </form>

      <div class="artists">
        <h1>Featured Trending Artists</h1>
        <div class="artist-container containers">
        
        {% for artist in artists %}
            <div class="artist" onclick="updateSearchByArtist('{{ artist['artist']}}')">
                <img src="{{ artist['image'] }}" alt="" />
                <p>{{ artist['artist'] }}</p>
            </div>
        {% endfor %}
        
        </div>
      </div>

      <div class="albums">
        <h1>Recommended Albums</h1>
        <div class="album-container containers">
          <div class="album" onclick="updateSearchByTitle('Views Drake')">
            <div class="album-frame">
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/74c4f0f9-d73e-4737-83fa-ea4afe392229"
                alt="" />
            </div>
            <div>
              <h2>Views</h2>
              <p>Drake</p>
            </div>
          </div>

          <div class="album" onclick="updateSearchByTitle('Speak Now Taylor Swift')">
            <div class="album-frame">
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d3a0bac0-fdb4-467e-bdf5-f3f415928f24"
                alt="" />
            </div>
            <div>
              <h2>Speak Now</h2>
              <p>Taylor Swift</p>
            </div>
          </div>

          <div class="album" onclick="updateSearchByTitle('Born to Die Lana Del Rey')">
            <div class="album-frame">
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/85521a12-cc46-4b9f-a742-21ba407ebd5e"
                alt="" />
            </div>
            <div>
              <h2>Born to Die</h2>
              <p>Lana Del Rey</p>
            </div>
          </div>

          <div class="album" onclick="updateSearchByTitle('Endless Summer Vacation Miley Cyrus')">
            <div class="album-frame">
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4e7bf466-7fa5-4dad-b628-5bca12833b64"
                alt="" />
            </div>
            <div>
              <h2>Endless Summer Vacation</h2>
              <p>Miley Cyrus</p>
            </div>
          </div>

          <div class="album" onclick="updateSearchByTitle('The Dark Side of The Moon Pink Floyd')">
            <div class="album-frame">
              <img
                src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f01f546a-7ab7-4e90-acb9-1c1e817b676d"
                alt="" />
            </div>
            <div>
              <h2>The Dark Side of The Moon</h2>
              <p>Pink Floyd</p>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="right-content">
        <div class="recommended-songs">
          <h1>Recommended Songs</h1>
          <div class="song-container">
            <div class="song" onclick="updateSearchByTitle('Blank Space Taylor Swift')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ea61baa7-9c4b-4f43-805e-81de5fc8aa2b"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Blank Space</h2>
                <p>Taylor Swift</p>
              </div>
              <span>4:33</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('One Dance Drake')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/6f72f702-c049-46fe-af76-a3b188b9a909"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>One Dance</h2>
                <p>Drake</p>
              </div>
              <span>4:03</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Pawn It All Alicia Keys')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ad2e664a-3ab9-4f30-933a-623e26999030"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Pawn It All</h2>
                <p>Alicia Keys</p>
              </div>
              <span>3:10</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Lose Control Teddy Swims')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/666e065b-eb53-4320-a580-30e266370955"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Lose Control</h2>
                <p>Teddy Swims</p>
              </div>
              <span>3:30</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Be The One Dua Lipa')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/619ed17f-5df2-4d32-a419-78f120a1aa5c"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Be The One</h2>
                <p>Dua Lipa</p>
              </div>
              <span>3:24</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Delicate Taylor Swift')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/0ed3f51d-b769-4256-a4dd-8f35b12a1690"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Delicate</h2>
                <p>Taylor Swift</p>
              </div>
              <span>3:54</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Soldi Mahmood')">
              <div class="song-img">
                <img
                  src="https://assets.miniguide.co/img/mahmood-gioventu-bruciata-cover@2x.jpg"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Soldi</h2>
                <p>Mahmood</p>
              </div>
              <span>3:21</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Paradise Coldplay')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/96bc0648-51f9-46ab-a426-766c6bc93d80"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Paradise</h2>
                <p>Coldplay</p>
              </div>
              <span>4:20</span>
            </div>

            <div class="song" onclick="updateSearchByTitle('Easy On Me Adele')">
              <div class="song-img">
                <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/885b67a7-1816-4235-9dd3-5d879a202728"
                  alt="" />
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="song-title">
                <h2>Easy On Me</h2>
                <p>Adele</p>
              </div>
              <span>3:45</span>
            </div>
          </div>
        </div>

        <div class="music-player">
          <div class="album-cover">
              <img src="{{ album_cover }}" id="rotatingImage" alt="" />
              <span class="point"></span>
          </div>
          <h2>{{ song_name }}</h2>
          <p>{{ artist_name }}</p>
          <audio id="song">
              <source src="{{ audio_url }}" type="audio/mp4; codecs=&quot;mp4a.40.2&quot;" />  
          </audio>
          <input type="range" value="0" id="progress" />
          <div class="controls">
              <button class="play-btn" onclick="playSong()">
                  <i class="fa-solid fa-play"></i>
              </button>
              <button class="stop-btn" onclick="stopSong()">
                  <i class="fa-solid fa-stop"></i>
              </button>
          </div>
      </div>
      
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename="../static/js/dashboard.js")}}"></script>
  <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>
  <script>
    function playSong() {
      var audio = document.getElementById("song");
      audio.play();
    }

    function stopSong() {
      var audio = document.getElementById("song");
      audio.pause();
      audio.currentTime = 0;
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        document.querySelector(".loader").style.display = "none";
      }, 2000); 
    });
  </script>
  <script>
    function updateSearchByArtist(artistName) {
        $.ajax({
            url: '{{ url_for("update_search_value") }}',
            type: 'POST',
            data: { search_value: artistName },
            success: function(response) {
                window.location.href = '{{ url_for("welcome") }}'; 
            },
            error: function(xhr, status, error) {
                console.error('Error al enviar la solicitud:', error);
            }
        });
    }
</script>
<script>
  function updateSearchByTitle(title) {
      $.ajax({
          url: '{{ url_for("update_search_value") }}',
          type: 'POST',
          data: { search_value: title },
          success: function(response) {
              window.location.href = '{{ url_for("welcome") }}'; // Redirige al usuario a la página de bienvenida
          },
          error: function(xhr, status, error) {
              console.error('Error al enviar la solicitud:', error);
          }
      });
  }
</script>
</body>
</html>