<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password Step 1 - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/forgetPassword.css">
</head>
<body>
  <section>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gradient"></div>
        </div>
      </div>
    </div>
  </section>


  <div class="logo">
    <a class="avatar" href="{{url_for('About')}}" title="we hope you enjoy our application ❤"><img src="../static/img/logo.jpg"/></a>
  </div>





    <div class="login-box">
        <h2>Step 1</h2>
        <form method="post" action="{{url_for('ConfirmationForgetPassword')}}" >
          <div class="user-box">
            <input type="text" name="Name" required="" placeholder="Name">
            <label>Name</label>
          </div>
          <div class="user-box">
            <input type="text" name="Lastname" required="" placeholder="Lastname">
            <label>Lastname</label>
          </div>
          <div class="user-box">
            <input type="email" name="email" required="" placeholder="Email">
            <label>Email </label>
            <span class="error-message-email"></span> 
          </div>
          <div class="user-box">
            <input type="text" name="Username" required="" placeholder="Username">
            <label>Username</label>
          </div>
          <button class="forget" type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>  
      </div>
      <script src="../static/js/login.js"></script>   
</body>
</html>