<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/game.css">
</head>
<body>
  <a href="{{url_for('welcome')}}" style="position: absolute; top: 3%; left: 3%;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <-- Out of Game
  </a>
    <div class="game-container">
      <h1>{{GuessText}}</h1>
      <div id="score">Score: {{Puntos}}</div>
      <img id="movieImage" src="{{UrlDato}}" alt="Song Poster" />
      <div class="input-box">
        <form method="post" action="{{url_for('guess')}}" >
          <input type="text" name="guessInput" id="guessInput" placeholder="{{ Question }}" />
            <button  class="submit-btn btn" role="button" type="submit">
                Submit
            </button>
        </form>
      </div>
    </div>

    <div id="gameOverModal" class="modal">
      <div class="modal-content"></div>
    </div>
  </body>
</html>