<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/tranding.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
</head>
<body>
    <a href="{{url_for('welcome')}}" style="position: absolute; top: 3%; left: 1.5%;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <-- Back 
      </a>
    <main>
      <nav class="main-menu">
        <div>
          <div class="user-info">
            <img src="{{ProfilePicture}}" alt="user" />
            <p>{{UserProfile}}</p>
          </div>

      </nav>
      
      <section class="content">
        <div class="left-content">
          <form action="{{ url_for('update_search_value') }}" method="post">
            <div class="toolbar centred">
                <div class="search-bar glass centred">
                    <label for="search-bar">
                        <span class="search-icon centred material-icons">search</span>
                    </label>
                    <input type="text" id="search-bar" name="search_value" placeholder="" />
                </div>
            </div>
            <button type="submit" style="display: none;"></button> 
        </form>
          <div class="artists">
            <h1>Featured Trending Artists</h1>
            <div class="artist-container containers">
            
            {% for artist in artists %}
                <div class="artist" onclick="updateSearchByArtist('{{ artist['artist'] }}')">
                    <img src="{{ artist['image'] }}" alt="" />
                    <p>{{ artist['artist'] }}</p>
                </div>
            {% endfor %}
            
            </div>
        </div>
          <div class="albums">
            <h1>Tranding Albums</h1>
            <div class="album-container containers">
                {% for album in recommended_albums %}
                    <div class="album" onclick="updateSearchByArtist('{{ album.name}}')">
                        <div class="album-frame">
                            <img src="{{ album.cover_art_thumbnail_url }}" alt="" />
                        </div>
                        <div>
                            <h2>{{ loop.index }}: {{ album.name }}</h2>
                            <p>{{ album.artist }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
  
        <div class="right-content">
          <div class="recommended-songs">
            <h1>Tranding Songs</h1>
            <div class="song-container">
              {% for song in recommended_songs %}
              <div class="song" onclick="updateSearch('{{ song['title'] }}')">
                <div class="song-img">
                  <img src="{{ song['song_art_image_url'] }}" alt="" />
                  <div class="overlay">
                    <i class="fa-solid fa-play"></i>
                  </div>
                </div>
                <div class="song-title">
                  <h2>{{ song['title'] }}</h2>
                  <p>{{ song['artist_names'] }}</p>
                </div>
                
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>
    <script>
      function updateSearchByTitle(title) {
          $.ajax({
              url: '{{ url_for("update_search_value") }}',
              type: 'POST',
              data: { search_value: title },
              success: function(response) {
                  window.location.href = '{{ url_for("welcome") }}'; 
              },
              error: function(xhr, status, error) {
                  console.error('Error al enviar la solicitud:', error);
              }
          });
      }
  </script>
  <script>
    function updateSearchByArtist(artistName) {
        $.ajax({
            url: '{{ url_for("update_search_value") }}',
            type: 'POST',
            data: { search_value: artistName },
            success: function(response) {
                window.location.href = '{{ url_for("welcome") }}'; 
            },
            error: function(xhr, status, error) {
                console.error('Error al enviar la solicitud:', error);
            }
        });
    }
</script>
  
  </body>
  </html>