<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/sign.css">
</head>
<body>
  <section>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gradient"></div>
        </div>
      </div>
    </div>
  </section>



  <div class="logo">
    <a class="avatar" href="{{url_for('welcome')}}" title="Go to dashboard 👋"><img src="../static/img/logo.jpg"/></a>
  </div>

  <nav style="left: 8%;">
    <a href="{{url_for('index')}}" class="active">
          Home
      </a>
    <a href="{{url_for('About')}}">About</a>
    <a href="{{url_for('welcome')}}">Dashboard</a>
    <div class="animation start-home"></div>
  </nav>






    <div class="login-box">
        <h2>Settings</h2>
        <form method="post" action="{{url_for('ConfirmationUpdate')}}" >
          <div class="user-box">
            <input type="text" name="newName" required="" placeholder="New Name">
            <label>New Name</label>
          </div>
          <div class="user-box">
            <input type="text" name="OldName" value="{{OldName}}"  hidden>
        </div>
          <div class="user-box">
            <input type="text" name="NewLastname" required="" placeholder="New Lastname">
            <label>New Lastname</label>
          </div>
          <div class="user-box">
            <input type="text" name="OldLastname" value="{{OldLastname}}"  hidden>
        </div>
          <div class="user-box">
            <input type="number" name="NewAge" required="" min="18" placeholder="New Age">
            <label>New Age (must be 18 or older)</label>
            <span class="error-message-age"></span> 
          </div>
          <div class="user-box">
            <input type="email" name="NewEmail" required="" placeholder="New Email">
            <label>New Email</label>
            <span class="error-message-email"></span> 
          </div>
          <div class="user-box">
            <input type="email" name="OldEmail" value="{{OldEmail}}"  hidden>
        </div>
          <div class="user-box">
            <input type="text" name="NewUsername" required="" placeholder="New Username">
            <label>NewUsername</label>
          </div>
          <div class="user-box">
            <input type="text" name="OldUsername" value="{{OldUsername}}"  hidden>
        </div>
          <div class="user-box">
            <input type="password" name="NewPassword" required="" placeholder="New Password">
            <label>New Password</label>
          </div>          
          <button class="forget" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>  
      </div>
      <script src="../static/js/update.js"></script>   
</body>
</html>
