<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/aboutus.css">
</head>
<body>
    
    <div>
        <p>> <span>Our Name</span>: "<i>AnafaelBeats</i>"</p>
        <p>> <span>DESCRIPTION</span>: "<i>Immerse yourself in the world of music with AnafaelBeats, the ultimate song application that brings harmony to your fingertips. With an intuitive interface and a vibrant selection of tunes</i>"</p>
        <p>> <span>our services</span>: <b>AnafaelBeats offers an unparalleled auditory experience. Dive into a sea of melodies, discover new artists, and create playlists that resonate with your soul. Whether you’re looking to relax, energize, or explore, AnafaelBeats is your personal gateway to the soundtrack of life. Tune in, turn up, and let the rhythm move you.</b>...</p>
        <p>> <span>SOME PAGES ON THIS APPLICATION THAT YOU DO HAVE PERMISSION TO ACCESS</span>: [<a href="{{url_for('index')}}">Home Page</a>, <a href="{{url_for('About')}}">About Us</a>, <a href="{{url_for('signUp')}}">Sign Up</a>, <a href="{{url_for('login')}}">Login</a>...]</p>
        <p>> <span>HAVE A NICE DAY</span></p>
    </div>
    
    <a class="avatar" href="{{url_for('index')}}" title="Go back to home page"><img src="../static/img/logo.jpg" alt="AnafaelBeats Logo"/></a>
    
    <script src="../static/JS/aboutus.js"></script>
</body>
</html>
