<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
</head>
<body>




  
  <div class="logo">
    <a class="avatar" href="{{url_for('About')}}" title="we hope you enjoy our application ❤"><img src="../static/img/logo.jpg"/></a>
  </div>
  <section class="home">
    <div class="description">
      <h1 class="title">
        <span class="gradient-text">AnafaelBeats</span> <br>Immerse yourself in the world of music with AnafaelBeats
      </h1>
      <p class="paragraph">
        the ultimate song application that brings harmony to your fingertips. 
        With an intuitive interface and a vibrant selection of tunes
      </p>

      <div id="form-container">
        <form id="login-form" autocomplete="off" action="{{url_for('login')}}" method="GET">
          <button type="submit" class="btn" aria-label="login">
              <span>Login</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
        </form>
        <form id="signup-form" autocomplete="off" action="{{url_for('signUp')}}" method="GET">
          <button type="submit" class="btn" aria-label="signup">
              <span>Sign Up</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
        </form>
      </div>
    </div>

    <div class="users-color-container">

      <img
        class="item"
        src="../static/img/eminem.jpg"
        style="--i: 2"
        alt="" />

      <img
        class="item"
        src="../static/img/Drake.webp"
        style="--i: 4"
        alt="" />

      <img
        class="item"
        src="../static/img/Ariana.png"
        style="--i: 10"
        alt="" />

      <img class="item" src="../static/img/Billie-Eilish.webp" style="--i: 12" alt="" />
      <img class="item" src="../static/img/BTS.jpeg" style="--i: 8" alt="" />
      <img class="item" src="../static/img/Presto.webp" style="--i: 6" alt="" />
      <img class="item" src="../static/img/rihanna.jpeg" style="--i: 15" alt="" />
      <img class="item" src="../static/img/artist.jpeg" style="--i: 17" alt="" />
      <img class="item" src="../static/img/artist1.webp" style="--i: 9" alt="" />
      <img class="item" src="../static/img/taylor.webp" style="--i: 11" alt="" />
      <img class="item" src="../static/img/sheeran.jpg" style="--i: 20" alt="" />
      <img class="item" src="../static/img/Weekend.jpg" style="--i: 19" alt="" />
    </div>
  </section>

  
  
</body>
</html>