<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lyrics - AnafaelBeats</title>
    <link rel="stylesheet" href="../static/CSS/lyrics.css">
</head>
<body>
  <body>
    
    <section>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gradient"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="logo">
      <a class="avatar" href="{{url_for('welcome')}}" title="Go to dashboard 👋" style="  bottom: 85%; left: 93%;"><img src="../static/img/logo.jpg"/></a>
    </div>
    <div class="logo">
      <a class="back-button" href="/lyrics"> <--Back</a>
  </div>
  

    
      <section>
          <div class="container">
            <div class="background-img">
              <div class="login-box">
                <h2>{{Music}}'s Lyrics </h2>
                
                <pre>{{lyrics}}</pre>
              </div>
            </div>
          </div>
          
        </section>
</body>
    
        

</body>
</html>